/* Reset */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style */

header, main {
    max-width: 1000px;
    max-height: 200px;
    margin: auto;
}
.container {
    width: 100%;
    max-height: 300px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    padding: 20px;
}

img {
    height: 200px;
    width: 300px;
    object-fit: cover;
}

i {
    font-size: 100px;
}

/* Exercise */

/* 1 */

.ex-1 {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    transition:  3s;
}

.ex-1:hover {
    background-color: red;

}

/* 2 */

.ex-2 {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    background-color: red;
    transition:  3s;
}

.ex-2:hover {
    width: 100%;

}

/* 3 */

.ex-3 {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    background-color: red;
    transition:  3s;
}

.ex-3:hover {
    border-radius: 100%;

}

/* 4 */

.ex-4 {
    border: 1px solid red;
    height: 100px;
    width: 100px;
    background-color: red;
    transition:  3s;
}

.ex-4:hover {
    opacity: 0%;

}

/* 5 */

.ex-5 {
    border: 1px solid red;
    height: 50px;
    width: 50px;
    background-color: red;
    transition:  3s;
}

.ex-5:hover {
    height: 100px;
    width: 100px;

}

.ex-5:active {
    height: 25px;
    width: 25px;

}

/* 6 */

.ex-6:hover {
    filter: grayscale(1);
}

/* 7 */

.ex-7:hover {
    filter: grayscale(1);
    filter: brightness(0.4); 
    filter: blur(5px);
    transition: 3s;
}

/* 8 */

.ex-8:hover {
    filter: sepia(1);
    filter: contrast(3);
    border-radius: 20px;
}

/* 9 */

.ex-9:hover {
    filter: sepia(1);
    filter: contrast(3);
    border-radius: 20px;
    transform: scale(0.4);
    transition: 3s;
}

/* 10 */

.ex-10 {
    animation: rotate 1s linear infinite;
}
@keyframes rotate {
    0% {
        transform: rotate(1turn);
    }
}

/* 11 */

.ex-11:hover {
    animation: rotate-2 2s linear ;
}
@keyframes rotate-2 {
    0% {
        transform: rotate(0);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(0);
    }

}